<html>
 <head>
 <link rel="stylesheet" href="../static/layui/css/layui.css" rel="external nofollow" media="all">
 </head>
 <body>
 <a class="layui-btn" id="test" href="javascript:;" rel="external nofollow" rel="external nofollow" >测试</a><br/><br/>
 <a class="layui-btn" onclick="hello('this is a test')" href="javascript:;" rel="external nofollow" rel="external nofollow" >hello</a>
 <script src="../static/layui/layui.js"></script>
 <script type="text/javascript">

 layui.use(["jquery","layer","form"],function(){
 var $ = layui.$,layer = layui.layer,form = layui.form;
 $("#test").click(function(){
  hello("张三");
 });
 window.hello = function(obj) {
  layer.msg("hello world,"+obj);
 }
 });
 </script>
 </body>
</html>